@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;  /* Variable font weight range */
  font-style: normal;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Inter'!important;
}
.topnav {
  padding: 0 18px;
  margin: 0;
  z-index: 88;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 80;
  background: #FEFEFE;
  box-shadow: 4px 8px 3px 3px #F8FAFc88;
}
.topnav + hr {
  margin: 0;
}

a img {
  vertical-align: top;
}

#side-nav {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.1s ease-out;
  z-index: 99;
  text-align: center;
}
#side-nav ul {
  margin: 48px auto 16px auto;
}
#side-nav a {
  text-decoration: none;
  padding: 16px 0;
}
#side-nav.active {
  width: 100vw;
}
#side-nav-close {
  position: absolute;
  top: 6px;
  right: 6px;
  background: transparent;
  border: 0;
}
#menu-btn-navbar { display: none; }

@media only screen and (max-width: 1014px) {
  .hide-on-phone { display: none; }
  #menu-btn-navbar { display: block; }
}
