<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="/js/htmx.min.js" defer></script>
    <link rel="stylesheet" href="/css/pico.blue.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    {%- for file in css %}
      <link rel="stylesheet" href="{{ file }}">
    {%- endfor %}
    <style>
        {{ style }}
    </style>
</head>
<body>
    {% include "../_components/navbar.njk" %}
    {% include "../_components/sidenav.njk" %}
    
    <main>
        {{ content | safe }}
    </main>
    
    <script src="/js/helpers.js"></script>
    {%- for script in js %}
      {{ script | safe }}
    {%- endfor %}
</body>
</html>
