<nav class="topnav">
  <ul>
    <li><strong><a href="/" class="contrast">CareBridge <img src='/icons/hand-heart.svg' /></a></strong></li>
  </ul>
  
  <ul class="hide-on-phone">
    {% for link in navigation %}
      <li><a href="{{ link.url }}">{{ link.name }} <img src="/icons/{{ link.iconName }}.svg" /></a></li>
    {% endfor %}
  </ul>
  
  <ul>
    <li class="hide-on-phone">
      <a role="button" href="/login" id="nav-login-btn">Login <img src='/icons/user.svg' /></a>
    </li>
    <li class="hide-on-phone">
      <a role="button" class="contrast" target="_blank" href="https://www.github.com/omar-hossam/CareBridge">
      <img src='/icons/github-logo.svg' /></a>
    </li>
    <li id="menu-btn-navbar">
      <button onclick="addClass('#side-nav', 'active')" class="secondary outline"><img src="/icons/list.svg" /></button>
    </li>
  </ul>
  
</nav>
<hr />
