<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.blue.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    {% block css %}{% endblock %}
  </head>
  <body>
    {% from 'macros.html' import Navbar %}

    {{ Navbar() }}
    
    <main>{% block content %}{% endblock %}</main>
    
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
