{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboards/donor.css') }}">
{% endblock %}

{% block content %}
<section class="container">
  <h2>Recent Donations</h2>
  <p class="subtext">Overview of donations and campaigns</p>

  <div class="grid-3">
    <div class="card">
      <small>Total Donated</small>
      <h3>Rs. 10,500</h3>
      <span>This month</span>

      <div class="avatars">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" />
        <img src="https://randomuser.me/api/portraits/men/32.jpg" />
        <img src="https://randomuser.me/api/portraits/men/45.jpg" />
        <img src="https://randomuser.me/api/portraits/women/65.jpg" />
      </div>
    </div>

    <div class="card">
      <small>People Helped</small>
      <h3>Rs. 34,000</h3>
      <span>Recent donations</span>

      <div class="avatars">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" />
        <img src="https://randomuser.me/api/portraits/men/32.jpg" />
        <img src="https://randomuser.me/api/portraits/men/45.jpg" />
        <img src="https://randomuser.me/api/portraits/women/65.jpg" />
      </div>
    </div>

    <div class="card">
      <small>Trips Helped</small>
      <h3>Rs. 5,000</h3>
      <span>Recent donations</span>

      <div class="avatars">
        <img src="https://randomuser.me/api/portraits/men/45.jpg" />
        <img src="https://randomuser.me/api/portraits/women/65.jpg" />
      </div>
    </div>
  </div>

  <div class="main-grid">
    <section>
      <h5>This Month</h5>

      <div class="progress-row">
        <div class="flex-between">
          <strong>Food Build Schools</strong>
          <span>$400 / $800</span>
        </div>
        <progress value="50" max="100"></progress>
      </div>

      <div class="progress-row">
        <div class="flex-between">
          <strong>Family Support</strong>
          <span>$350 / $700</span>
        </div>
        <progress value="50" max="100"></progress>
      </div>

      <div class="progress-row">
        <div class="flex-between">
          <strong>Aid for All</strong>
          <span>$500 / $1200</span>
        </div>
        <progress value="40" max="100"></progress>
      </div>

      <h5 style="margin-top: 1.5rem">Active Campaigns</h5>

      <div class="progress-row">
        <div class="flex-between">
          <strong>Flood Relief</strong>
          <span>$7000 / $10000</span>
        </div>
        <progress value="70" max="100"></progress>
      </div>

      <div class="progress-row">
        <div class="flex-between">
          <strong>Medical Fund</strong>
          <span>$5000 / $9000</span>
        </div>
        <progress value="55" max="100"></progress>
      </div>

      <div class="progress-row">
        <div class="flex-between">
          <strong>Medical Aid</strong>
          <span>$3000 / $7000</span>
        </div>
        <progress value="42" max="100"></progress>
      </div>
    </section>

    <aside>
      <article>
        <small>Newest Campaign</small>
        <h3>18,530</h3>
        <p>Donations</p>
        <div class="avatars">    
            <img src="https://randomuser.me/api/portraits/men/12.jpg" />
        </div>
        </article>

      <article>
        <small>Emergency</small>
        <h3>$1,340</h3>
        <p>Emergency Fund</p>
      </article>

      <article>
        <small>Total Raised</small>
        <h3>44,553</h3>
        <p>Emergency Relief</p>
      </article>
    </aside>
  </div>
</section>
{% endblock %}
